.chat-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: calc(100vw - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  padding-top: 70px;
}

.message-display {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  max-width: 999999999px;
}

.message {
  background-color: #e2e2e2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}


.message-input {
  display: flex;
  padding: 10px;
}

.message-input-field {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 95%;
}

.send-button {
  padding: 8px 12px;
  background-color: #800000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.sender {
  font-size: 0.8rem;
}

.message-input-container {
  display: flex;
  align-items: center;
}

.add-button-container {
  display: flex;
  align-items: center;
}

.add-button {
  padding: 8px;
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 50%; /* Set border-radius to 50% for perfect roundness */
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
  width: 30px; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  background-color: #b30000;
}

.upload-popup {
  position: absolute;
  top: -45px; /* Adjust as needed */
  left: 160%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 20px; /* Add padding */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
